/* User.css */
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /* למרכז את הטקסט */
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px; /* רוחב הטופס */
  max-width: 90%; /* הגבלת הרוחב המקסימלי */
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}